body {
  /*margin-top: 5% !important;*/
  /*margin-left: 0;*/
  /*margin-bottom: 0;*/
  /*margin-right: 0;*/

  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
  /*  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #fff !important;*/
  /*font-family: "Helvetica Neue" !important;*/
}

#setting {
  width: 16px;
  height: 16px;
  right: 0;
  left: auto;
  cursor: pointer;
}

#setting-container {
  text-align: end;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

